title = "Главная страница"
---
{% extends "base.html" %}
{% block header -%}
          <h1>Личный блог vlabdrake</h1>
          <address>
            очередная попытка начать писать
          </address>
{%- endblock header %}
{% block content -%}
          <ul>
            <li><a href="/23-01-04-year-of-gnome">Год GNOME</a></li>
            <li><a href="/23-05-12-year-of-gnome-part-2">Год GNOME, часть вторая</a></li>
          </ul>
{%- endblock content %}
{%- block footer %}{% endblock footer -%}
