title = "Год GNOME, часть вторая"
description = "Второй пост в серии, в котором я прохожусь по досаждающим мне мелочам в GNOME"
image = "https://vlabdrake.github.io/23-05-12-year-of-gnome-part-2/desktop.png"
---
{% extends "article.html" %}
{% block content -%}
          <figure>
            <img src="/23-05-12-year-of-gnome-part-2/desktop.png">
            <figcaption></figcaption>
          </figure>
          <p>
            Вот уже 4,5 месяца я пользуюсь Gnome в качестве основного окружения на своём ноутбуке. За это время в Arch Linux на днях добавили Gnome 44, вышедший уже месяц назад, а я успел поставить macos на десктоп (но об этом в другой раз). В прошлый раз я разобрался с тёмной и светлой темами, а также их автоматическим переключением. На очереди оставались Activities Overview и лончер приложений.
          </p>
          <p>
            Но сначала вернёмся на шаг назад. С переключением тем я разобрался не до конца &mdash; расширение NightThemeSwitcher довольно странно рассчитывало время рассвета и заката по геолокации, в моём случае расхождение было слишком большим, чтобы этой фичей можно было пользоваться. Использование переключения по расписанию требует периодически вносить коррективы в настройки, так как границы светового дня не стоят на месте. Поэтому мне пришлось <a href="https://github.com/vlabdrake/sunset">написать этот расчёт самому и править границы в настройках расширения в dconf</a>.
          </p>
          <p>
            Пока не ушёл далеко от тем оформления, Gnome поддерживает динамические обои рабочего стола, позволяющие использовать различные изображения для светлой и тёмной темы. Оказывается, что можно делать такие обои и самому с помощью утилиты <a href="https://github.com/dusansimic/dynamic-wallpaper">Dynamic Wallpaper</a>. Эта простая утилита позволяет сделать динамические обои из двух любых изображений:
          </p>
          <figure>
            <img src="/23-05-12-year-of-gnome-part-2/dynamic-wallpaper.png">
            <figcaption>Dynamic wallpaper позволяет создавать свои динамические обои из двух изображений</figcaption>
          </figure>
          <p>
            После нажатия на кнопку <btn>Create</btn> в настройках оформления рабочего стола появятся свежесозданные динамические обои:
          </p>
          <figure>
            <img src="/23-05-12-year-of-gnome-part-2/appearance.png">
            <figcaption>Созданные обои отображаются в настройках оформления</figcaption>
          </figure>
          <p>
          Но вернёмся к намеченному плану. По умолчанию после входа в систему среда Gnome встречает вас activities overview:
          </p>
          <figure>
            <img src="/23-05-12-year-of-gnome-part-2/activities-overview.png">
            <figcaption>Activities overview</figcaption>
          </figure>
          <p>
            Выгладит оно, конечно, интересно, но для меня совершенно бесполезно. Основная моя претензия &mdash; совершенно дезориентирующие анимации при переходе от рабочего стола к overview и обратно, особенно при использовании его для запуска приложений. Поэтому требуется сделать 2 вещи
          </p>
          <ol>
            <li>поставить запускалку приложений</li>
            <li>при запуске показывать сразу рабочий стол</li>
          </ol>
          <p>
            Для решения второй проблемы есть расширение dash to dock, в настройках которого можно включить соответствующую опцию. Так же оно добавляет док с запущенными приложениями.
          </p>
          <p>
            А для запуска приложений, можно использовать ulauncher. Но он игнорирует системную тему и выделяется на фоне остальных приложений. Поэтому я решил написать свой собственный лончер на Vala с gtk4 и libadwaita. С названием решил не заморачиваться &mdash; встречайте <a href="https://github.com/vlabdrake/vlauncher">Vlauncher</a>:
          </p>
          <figure>
            <img src="/23-05-12-year-of-gnome-part-2/vlauncher.png">
            <figcaption>Vlauncher</figcaption>
          </figure>
          <p>
            Пока он умеет только запускать приложения, но в планах расширить его функциональность до запуска консольных команд и различных действий, таких как выход из системы, выключение и т.п.
          </p>
          <p>
            С переходом на Gtk4 разработчики Gnome решили не портировать gnome-terminal, вместо этого они с нуля написали gnome-console. Так как это относительно свежий проект, его функциональность пока ограничена минимально необходимым набором фичей. А настройки вообще сведены к минимуму:
          </p>
          <figure>
            <img src="/23-05-12-year-of-gnome-part-2/console-settings.png">
            <figcaption>Меню GNOME Console</figcaption>
          </figure>
          <p>
            Вы мне на это можете возразить, что его можно настроить через dconf, но диапазон настроек там пока не очень широкий. Вот то ли дело Blackbox, который написан на тех же Gtk4+libadwaita, но его уже можно более-менее настраивать под себя:
          </p>
          <figure>
            <img src="/23-05-12-year-of-gnome-part-2/blackbox.png">
            <figcaption>Blackbox &mdash; эмулятор терминала на Gtk4 и libadwaita</figcaption>
          </figure>
          <p>
            После всех этих манипуляций я могу признать для себя Gnome удобным для использования. На этом, по всей видимости, заканчивается эпопея с допиливанием окружения под себя и если ничего не сломают до конца года, то в декабре этот цикл завершится статьёй, в которой я напишу, что я думаю после года использования и, возможно, <a href="https://hyprland.org/">придумаю для себя челлендж на 2024 год</a>.
          </p>
{%- endblock content %}
